.updapt-search-input {
  outline: none;
  color: #0e244a;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #dee2e6;
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: transparent url("../../Assests/Images/searchIcon.svg") no-repeat
    13px center;

  &:focus {
    border-color: #2863ff;
  }
  &::placeholder {
    color: #a0a0a0;
  }
  &:disabled {
    border-color: #eaecef;
    background-color: #eaecef;
  }
}
.updpat-search-icon-image {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 120px;
  left: 16px;
}
