.updapt-form-search-input-cover {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 9px 9px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  gap: 2px;
  .updapt-input-search-img {
    width: 16px;
    height: 16px;
    opacity: 0.6;
  }
  .updapt-search-input {
    outline: none;
    border: none;
    max-height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #0e244a;
    &::placeholder {
      color: #a0a0a0;
    }
    &:disabled {
      border-color: #eaecef;
      background-color: #eaecef;
    }
  }
}
.updapt-form-search-input-cover:focus-within {
  border-color: #2863ff;
}
