.updapt-search-input {
  outline: none;
  padding: 0.5em 0.5em 0.5em 2.2em;
  color: #0e244a;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #dee2e6;
  &:focus {
    border-color: #2863ff;
  }
  &::placeholder {
    color: #a0a0a0;
  }
  &:disabled {
    border-color: #eaecef;
    background-color: #eaecef;
  }
}
.updpat-search-icon-image {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 120px;
  left: 16px;
}
